<div class="jumbotron jumbotron-fluid">
  <div class="container" style="height:820px;">
    <h1 class="nuts-title">Casual Nuts</h1>
    <h5 class="nuts-world">ナッツを世界に広めていこう!</h5>
    <%= link_to t(".New Post"), new_post_path, class: "btn btn-black btn-lg" %>
    <%= link_to t(".Article"), posts_path, class: "btn btn-black btn-lg" %>
  </div>
</div>
<hr>
<div class="introduce">
  <div class="nuts-explain">
    <h2 class="text-center"> Casual Nutsはナッツに関する物なら何でも投稿できるアプリです!</h2>
    <h4 class="text-center">ナッツは<span class="tasty">美味しさ</span>・<span class="healthy">健康</span>・<span class="beauty">美容</span>に優れています｡</h4>
    <h4 class="text-center">日々の生活に取り入れてナッツを世界に広めて行きましょう!</h4>
  </div>
</div>

<div class="nuts-article mx-auto btn-lg">
  <div class="nuts-button">
    <button type="button" class="btn btn-info rounded-pill-4" style="padding: 30px;"><h2>ナッツとは?</h2></button>
  </div>
</div>

