<div class="jumbotron jumbotron-fluid">
  <div class="container" style="height:820px;">
  <%= image_tag '' %>
    <h1 class="nuts-title">Casual Nuts</h1>
    <h5 class="nuts-world">ナッツを世界に広めていこう!</h5>
    <%= link_to t(".New Post"), new_post_path, class: "btn btn-black btn-lg" %>
    <%= link_to t(".Articles"), posts_path, class: "btn btn-black btn-lg" %>
  </div>
</div>
<hr>
<div class="introduce">
  <div class="nuts-explain">
    <div class="text-box">
      <h2 class="text-center1"><b>Casual Nutsはナッツに関する物なら何でも投稿できるアプリです!</b></h2>
      <h4 class="text-center2"><b>ナッツは美味しさ・健康・美容に優れています</b></h4>
      <h4 class="text-center3"><br><b>日々の生活に取り入れてナッツを世界に広めて行きましょう!</b></h4>
    </div>
  </div>
</div>

