<div class="jumbotron jumbotron-fluid">
    <div class="container" style="height:820px;">
      <h1 class="nuts-title">Casual Nuts</h1>
      <h5 class="nuts-world">ナッツを世界に広めよう!</h5>
      <a class="btn btn-black btn-lg" href="#" role="button">New Post</a>
    </div>
  </div>
  <div class="container">
    <h1>ブランド</h1>
    <p>ココにサイトの文章が入ります。</p>
  </div>