/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

body {
  background-color: rgb(240, 235, 229);
}

/* homes index.html.erb */

.nuts-title{
  font-family: 'Playfair Display', serif;
  margin-top: 5%;
}

.jumbotron {
  background-image: url("casual_nuts.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0;
}

.nuts-world  {
  font-size: 20px;
  margin-top: 40px;
  font-family: fantasy;
}

.introduce {
  margin: 10%;
  margin-right: 15%;
  margin-left: 15%;
  padding: 1%;
  width: 100%;
  background-color: rgba(226, 211, 211, 0.952)
}

.tasty {
  color: brown;
}

.healthy {
  color: blue;
}

.beauty {
  color: palevioletred
}

.nuts-explain h2, h4 {
  font-family: Arial, Helvetica, sans-serif;
}

.text-center {
  line-height: 90px;
}

.nuts-button {
  padding: 10%;
}

/* app/views/shared _header.html.erb */

.header-contents {
  width: 100%;
  margin: 0;
}


.navbar-brand {
  margin-left: 5%;
}
.nav-item  {
  float: right;
  display: block;
}

.navbar-nav {
  position: absolute;
  right: 10%;
} 

.collapse navbar-collapse {
  float: right;
  display: block;
}

.btn-black {
    border-radius: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Avenir', serif;
    margin-top: 5%;
    margin-right: 5%;
    display: inline-block;
}

/* ユーザー登録 */
.user-box {
  padding: 30px;
  border: 1px solid #dcdcdc;
  background-color: #f8f8ff;
}


/* app/views/posts/show.html.erb */
.table-warning {
  border-collapse: collapse;
  border-spacing: 0;
}


/* app/views/posts/index.html.erb */
.post-title {
  text-align: center;
}

.post-genre {
  margin-left: 10px;
}

.post-nuts {
  margin-left: 10px;
}

.post-description {
  margin-left: 10px;
}

.post-create {
  margin-left: 10px;
}

.post-link {
  margin-left: 5px;
}


/* いいね機能のcss */
.iine__button{
    background: linear-gradient(to right, #feb400, #FFE300);
    line-height: 42px;
    color: #6d3701;
    font-size: 14px;
    display: inline-block;
    padding: 0 18px;
    border-radius: 100px;
    font-weight: bold;
}