/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";


/* posts index.html.erb */

.nuts-title{
  font-family: 'Playfair Display', serif;
  margin-top: 5%;
}

.jumbotron {
  background-image: url("casual_nuts.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0;
}

.nuts-world  {
  font-size: 20px;
  margin-top: 40px;
  font-family: fantasy;
}

/* app/views/shared _header.html.erb */

.navbar-brand {
  margin-left: 5%;
}
.nav-item  {
  float: right;
  display: block;
}

.navbar-nav {
  position: absolute;
  right: 10%;
} 

.collapse navbar-collapse {
  float: right;
  display: block;
}

.btn-black {
    border-radius: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Avenir', serif;
    margin-top: 5%;
    margin-right: 5%;
    display: inline-block;
}

/* ユーザー登録 */
.user-box {
  padding: 30px;
  border: 1px solid #dcdcdc;
  background-color: #f8f8ff;
}